<!-- LATEST NUMBERS DRAWN-->
<section class="section">
    <h6 class="title is-3">Latest Numbers!</h6>
    <div class="columns">
        <div *ngFor="let item of drawnBingoNumbers; let i = index"
         class="column is-2 is-mobile"
         [ngStyle]="{'opacity': 1 - (1/i * 0.85) }" >{{item}}</div>
    </div>
</section>

<section class="section">
    <h6 class="title is-3">Your BINGO Card</h6>
    <div class="columns" *ngFor="let column of bingoCard">
        <div *ngFor="let row of column" class="column is-2 is-mobile" 
        [ngClass]="{ 'selected-space': row.active }" (click)="row.active = !row.active">
            {{row.number}}
        </div>
    </div>
    <button class="button" (click)="notifyBingo()" [ngStyle]="{'margin-right': '20px'}">Bingo!!</button>
    <button class="button" (click)="unsubLatest()">Expert Mode</button>
</section>